<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <% @projects.each_with_index do |project, index| %>>
            <div class="carousel-item <%= 'active' if index == 0 %>">
                <img src="<%= project.media %>" class="d-block w-100" alt="<%= project.title %>">
                <div class="carousel-caption d-none d-md-block">
                    <h5><%= project.title %></h5>
                    <p><%= project.description %></p>
                </div>
            </div>
        <% end %>
    </div>
    <button class="corousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-taget="#carouselExample" data-bs-slide="next">
            <span class="caarousel-control-next-icon"></span>
    </button>
</div>